<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{post_text}}</p>
  <p>Created by {{user.userName}} on {{format_date date_created}}</p>
  {{#each comments as |comment|}}
    <div>
      <h3>{{comment.comment_text}}</h3>
      {{! Can't pull in name from join, need to review this later }}
      <p>Posted by X on {{format_date comment.date_created}}</p>
    </div>

  {{/each}}
  {{#if logged_in}}
    <p>
      <form class="form comment-form" id="comment-form">

        <div class="form-group">
          <label for="comment-text">Comment</label>
          <input class="form-input" type="text" id="comment-text" />
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit Comment</button>
        </div>
      </form>
    </p>
    <script src="../js/post.js"></script>
  {{/if}}
</div>